.paypal-button-text {
  display:none !important;
}

.t4s-btn__cart {
  display:none !important;
}
.loox-rating .loox-rating-label {
    font-size: 14px;
}

.loox-rating .loox-icon {
    width: 14px;
    height: 14px;
}

